<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New restaurant </title>
</head>
<body>
  <h2>Register a restaurant </h2> 
  <form (submit)='newRestaurant()'>
    <p> {{ restaurant | json }} </p>
    <label> Restaurant name: </label>
    <input class='field' type='text' name='name' [(ngModel)]='restaurant.name'>
    <label>Cuisine: </label> 
    <input class='field' type='text' name='cuisine' [(ngModel)]='restaurant.cuisine'>
    <br>
    <button id='register_button'> Register </button>
    <input id='cancel_button'type='button' value='Cancel' (click)='cancel()'> 
  </form>
  <p> {{ errors }} </p>
</body>
</html>