* {
    margin: 0px;
    padding: 0px;
}

form {
    display: flex;
    flex-direction: column;
}

button, #cancel_button {
    display: inline-block;
    width: 200px;
    border-radius: 10px;
    margin: 0 auto;
}

.json_pipe {
    margin: 0 auto;
}