<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Review </title>
</head>
<body>
  <form (submit)='update()'>
      <p class='json_pipe'> {{ restaurant | json }} </p>
      <label> Restaurant name: </label>
      <input type='text' name='name' [(ngModel)]='restaurant.name'>
      <label>Cuisine: </label> 
      <input type='text' name='cuisine' [(ngModel)]='restaurant.cuisine'>
      <button> Update </button>
      <input type='button' (click)='cancel()' value='Cancel' id='cancel_button'>
  </form>
  <p> {{ errors }} </p>
</body>
</html>
